/* Base styles */

body {
  font-family: "Outfit", sans-serif;
  color: #2e2e2e;
  padding: 10px 20px;
  background-color: antiquewhite;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingBody {
  margin: 70px 5%;
  flex-direction: column;
  gap: 20px;
}

.landingText {
  width: 100%;
  text-align: center;
}

.landingText h2 {
  font-size: 30px;
}

.landingText p {
  width: 100%;
  padding: 0 10px;
}

.landingImg img {
  width: 70%;
}

.auth {
  height: auto;
  padding: 20px;
}

.register,
.login {
  width: 100%;
}

.search {
  width: 100%;
}

.container {
  flex-direction: column;
}

.side {
  max-height: none;
  padding-right: 10px;
}

.mainWrapper {
  padding: 20px;
}

.right {
  padding: 20px;
}

/* Media queries for responsiveness */

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .landingBody {
    margin: 70px 10%;
    flex-direction: row;
    gap: 50px;
  }

  .landingText {
    width: 60%;
  }

  .landingText h2 {
    font-size: 40px;
  }

  .landingText p {
    width: 90%;
  }

  .landingImg img {
    width: 20%;
  }

  .auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }

  .register,
  .login {
    width: 45%;
  }

  .search {
    width: 25%;
  }

  .container {
    flex-direction: row;
  }

  .side {
    padding-right: 20px;
  }

  .mainWrapper {
    padding: 30px 20px;
  }

  .right {
    padding: 40px;
  }
}

@media (min-width: 1200px) {
  .landingBody {
    margin: 70px 10%;
  }

  .landingImg img {
    width: 15%;
  }

  .auth {
    padding: 50px;
  }

  .register,
  .login {
    width: 35%;
  }

  .search {
    width: 20%;
  }

  .mainWrapper {
    padding: 30px 40px;
  }

  .right {
    padding: 50px;
  }
}
